@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Medium.woff2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff2);
    font-style: normal;
    font-weight: 700;
}